// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$primary-color: #06141B;
$secondary-color: #11212D;
$tertiary-color: #253745;
$quaternary-color: #4A5C6A;
$quinary-color: #9BA8AB;
$senary-color: #CCD0CF;

$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Grayscale Colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Typography
$font-family-base: 'Montserrat', Arial, sans-serif;
$font-size-base: 16px;